*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*
:root {
  --clr-main:#c56cee;
  --clr-main-ligth: #efdaf9;
}
*/
.App {
  text-align: center;
}

.navbar {
  background-color: rgb(43, 41, 41) !important;
  color: whitesmoke;
  height: 5rem;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}

.navbar .navbar-nav .nav-link {
  color: #12aed5;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-size: 1.1rem;
  padding: 1rem;
}
.number{
  height: 2rem;
  margin: 0.5rem;
}

.container-navbar {
    padding: 0.9rem;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.enlaces{
  text-decoration: none;
  border-radius: 5px;
  margin: 1.4rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.enlacesDes{
  margin: .28rem;
}
.enlacesDes a{
  color: rgb(0, 0, 0);
}
.enlacesDes a:hover{
  color:rgb(39, 134, 222);
}
.enlacesDes:hover{
  background: rgba(84, 82, 82, 0.403);
  transition: 0.5s;
  border-radius: 5px;
}
/*
.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
*/
/*
.producto > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

} */
.itemListContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.producto-detalle {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 10px;
  margin: 20px;
  background-color: rgb(177, 224, 237);
  border-radius: 1px;
  border-color: blueviolet;
}