*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/*
:root {
  --clr-main:#c56cee;
  --clr-main-ligth: #efdaf9;
}
*/
.App {
  text-align: center;
}

.navbar {
  background-color: rgb(45, 44, 44) !important;
  color: whitesmoke;
}

.navbar .navbar-brand {
  color: #ecf0f1;
}

.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.number{
  height: 2rem;
  margin: 0.5rem;
}

.container {
    padding-top: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

/*
.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}
*/
/*
.producto > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

} */