.ItemList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: pink;
    font-size: 6rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(214, 243, 219);
}
